---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="Rob Ruana,full stack,developer,software engineer,Linux,iOS,Objective C,Swift,Python,Javascript">
  <meta name="author" content="Rob Ruana">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="google-site-verification" content="T-SUi_fCmo-bs2LJhVxzWCVpA98slNlXWaODJ1A0YwU" />

  <title>Rob Ruana</title>

  <link rel="icon" type="image/x-icon" href="images/favicon.ico" />

  <style type="text/css">
{% capture style_css %}{% include css/style.scss %}{% endcapture %}
{{ style_css | scssify }}
  </style>

</head>
<body>

  <div id="header" class="section">
    <div class="container">
      <h1>Rob Ruana</h1>
      <p class="hr"><span class="hr-left"></span><span class="hr-center">&#8226;</span><span class="hr-right"></span></p>
    </div>
  </div>


  <div id="content" class="section">
    <div class="container">
      <div id="contact" class="col col-sm-50 col-md-33">
        <div class="inner">
          <h2>Contact</h2>
          <ul>
            <li>
              <a id="email-link" href="mailto:rob@robruana.com">
                <div class="logo background-image"></div><span>Email</span>
              </a>
            </li>
            <li>
              <a id="twitter-link" href="http://twitter.com/rruana">
                <div class="logo background-image"></div><span>Twitter</span>
              </a>
            </li>
            <li>
              <a id="runkeeper-link" href="https://runkeeper.com/user/RobRuana">
                <div class="logo background-image"></div><span>Runkeeper</span>
              </a>
            </li>
            <li>
              <a id="bitbucket-link" href="https://bitbucket.org/RobRuana">
                <div class="logo background-image"></div><span>BitBucket</span>
              </a>
            </li>
            <li>
              <a id="github-link" href="https://github.com/RobRuana">
                <div class="logo background-image"></div><span>GitHub</span>
              </a>
            </li>
            <li>
              <a id="resume-link" href="resume.html">
                <div class="logo background-image"></div><span>Resume</span>
              </a><a id="resume-pdf-link" href="Rob_Ruana_Resume.pdf">
                <span>PDF</span><div class="v-spacer"></div>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div id="ios" class="col col-sm-50 col-md-33">
        <div class="inner">
          <h2>iOS Apps</h2>
          <ul>
            <li>
              <a id="jurbly-link" href="http://bracingeffect.com/Jurbly/">
                <div class="logo background-image"></div><span>Jurbly</span>
              </a>
            </li>
            <li>
              <a id="chaosclock-link" href="http://bracingeffect.com/ChaosClock/">
                <div class="logo background-image"></div><span>Chaos Clock</span>
              </a>
            </li>
            <li>
              <a id="parsnip-link" href="http://bracingeffect.com/Parsnip/">
                <div class="logo background-image"></div><span>Parsnip</span>
              </a>
            </li>
            <li>
              <a id="debunked-link" href="http://robruana.com/Debunked/">
                <div class="logo background-image"></div><span>Debunked</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div id="python" class="col col-md-33">
        <div class="inner">
          <h2>Python Projects</h2>
          <ul>
            <li>
              <a id="napoleon-link" href="http://sphinx-doc.org/latest/ext/napoleon.html">
                <div class="logo background-image"></div><span>Napoleon</span>
              </a>
            </li>
            <li>
              <a id="hudsucker-link" href="https://pypi.python.org/pypi/hudsucker">
                <div class="logo background-image"></div><span>Hudsucker</span>
              </a>
            </li>
            <li>
              <a id="pockets-link" href="https://pypi.python.org/pypi/pockets">
                <div class="logo background-image"></div><span>Pockets</span>
              </a>
            </li>
            <li>
              <a id="sideboard-link" href="https://github.com/magfest/sideboard/blob/master/docs/source/index.rst">
                <div class="logo background-image"></div><span>Sideboard</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div id="footer" class="section">
    <div class="container">
      <a id="root-link" class="robruana-logo" href="/" title="Home" aria-label="Home">
        <div class="box1"></div><div class="box2"></div>
      </a>
      <div id="copyright">Copyright © 2016 Rob Ruana</div>
    </div>
  </div>

{% include google_analytics.html %}

</body>
</html>
