html{font-size:20px}

$font: 24;
$width: 816;

@media all and (min-width:#{$width}px){html{font-size:#{$font}px}}

@while $width >= 240 {
  @media all and (max-width:#{$width}px){html{font-size:#{$font}px}}
  $width: $width - 36;
  $font: $font - 1;
}
