
@import "normalize";

$sm-breakpoint: 460px;
$md-breakpoint: 640px;

$header-color: #205080;
$header-font-family: 'Open Sans Condensed', sans-serif;
$text-font-family: 'Open Sans', sans-serif;


//-------------------------------------------------------------
// Reset
//-------------------------------------------------------------

html { box-sizing: border-box; }
*,*:before,*:after { box-sizing: inherit; }
html,body,div,dl,dt,dd,ul,li,h1,h2,header,p { margin: 0; padding: 0 }
ol,ul { list-style: none; }
h1,h2 { font-size: 100%; font-weight: 400; }
a { text-decoration: none; }
a:hover,a:focus { text-decoration: underline; }
b,strong { font-weight: 700; }
i,em { font-style: italic; }


//-------------------------------------------------------------
// Global styles
//-------------------------------------------------------------

html, body {
  font-family: $text-font-family;
  font-size: 16px;
  font-weight: 400;
}

body {
  background-color: #535659;
  color: #000;
  padding: 40px 20px;
}

.container {
  background-color: #fff;
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px;
}

@media print {
  html, body { font-size: 11px; }
  body { background-color: #fff; padding: 0; }
  a { color: #000; }
  .container { max-width: none; padding: 0; }
}

@media screen and (max-width: $md-breakpoint) {
  body { padding: 40px 3.125%; }
  .container { padding: 40px 3.125%; }
}

h1, h1 > *, dt {
  color: $header-color;
  font-weight: 700;
}

header, section, article {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

header, h1 {
  page-break-after: avoid;

  &:after {
    page-break-after: avoid;
  }
}

header {
  .geo:before {
    content: "| ";
  }

  .date, .geo {
    display: inline;
  }
}

body > .container > header {
  h1 {
    display: inline-block;
    font-size: 2.875em;
    font-variant: small-caps;
    line-height: 1em;
  }

  ul {
    float: right;
    @media print { margin-bottom: -0.75em; }

    li {
      font-size: 0.9375em;
      margin-bottom: -1px;
    }

    @media (max-width: $sm-breakpoint) {
      float: none;
      margin-bottom: 1.5em;
      margin-top: 0.5em;
    }
  }
}


section ~ section {
  margin-top: 1.5em;
  @media print { margin-top: 1em; }
}

section {

  header, h1, dt {
    font-family: $header-font-family;
  }

  header, h1, dt {
    font-family: 'Oswald', sans-serif;
  }

  > h1 {
    font-size: 1.1875em;

    border-bottom: 1px solid $header-color;

    margin-bottom: 0.3333em;
    padding-bottom: 0.1667em;

    text-transform: uppercase;
  }

  li, dl div, p {
    margin-bottom: 0.5em;
    @media print { margin-bottom: 0.375em; }
  }
}

section > p, article > p {
  margin-left: 1.5em;
}

article {
  page-break-inside: avoid;

  header {
    margin-bottom: 0.3125em;
  }

  h1 {
    font-size: 1.0625em;
  }

  ul {
    list-style: outside circle;
    margin-left: 1.35em;

    li { padding-left: 0.15em; }
  }

  .technologies {
    display: none;
  }
}

#expertise {
  $label-width: 5em;
  $label-padding-right: 0.2em;

  dl div {
    margin-left: 1.5em + $label-width + 0.1em;
    text-indent: -$label-width - 0.1em;
  }

  dt {
    display: inline-block;
    padding-right: $label-padding-right;
    font-weight: 700;
    text-align: right;
    width: $label-width - $label-padding-right;
    white-space: nowrap;
    &:after { content: ":"; }
  }

  dd {
    display: inline;
  }
}

#career {
  article ~ article {
    margin-top: 1.5em;
    @media print { margin-top: 1em; }
  }
}

#opensource, #education {
  article {
      margin-bottom: 0.5em;
      @media print { margin-bottom: 0.25em; }

      h1 {
        display: inline-block;
        font-size: 1em;
        margin-right: 0.5em;
      }

      p {
        display: inline;
        margin: 0;
      }
  }
}

footer .version {
  color: #888;
  font-size: 0.625em;
  font-weight: 300;
  text-align: right;

  @media print {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
