
@import "variables";
@import "normalize";
@import "mixins";


//-------------------------------------------------------------
// Global styles
//-------------------------------------------------------------

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html,
body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    font-weight: 300;

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    position: relative;

    background-color: $normal-bg;
    color: $text-color;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

a {
    color: $link-color;
    cursor: pointer;
    text-decoration: none;

    &:hover, &:focus {
        background-color: $link-hover-bg;
        color: $link-hover-color;
        text-decoration: none;
    }
}

.background-image {
    background-color: transparent;
    background-position: 50% 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.section {
    &:after {
        clear: both;
        content: " ";
        display: block;
    }
}

.hr {
    display: block;
    text-align: center;
    margin: 0 auto 0 auto;
    white-space: nowrap;

    .hr-left, .hr-right, .hr-center {
        display: inline-block;
    }

    .hr-left, .hr-right {
        background-color: mix($normal-bg, $normal-color, 50%);

        height: 1px;
        width: 11em;

        vertical-align: middle;
    }

    .hr-left {
        @include gradient-horizontal($normal-bg, $normal-color);
    }

    .hr-right {
        @include gradient-horizontal($normal-color, $normal-bg);
    }

    .hr-center {
        // font-family: cursive;
        padding: 0 0.5em;
    }
}

$screen-xs-min: 360px !default;
$screen-sm-min: 480px !default;
$screen-md-min: 680px !default;
$screen-lg-min: 800px !default;

.container {
    margin: 0 auto;

    width: 100%;
    max-width: $screen-lg-min;
    @media (min-width: $screen-lg-min) { width: $screen-lg-min; }

    .col {
        display: block;
        float: left;

        text-align: center;

        padding: 0 10px;

        width: 100%;

        @media (min-width: $screen-sm-min) {
            &.col-sm-33 { width: 33.3%; }
            &.col-sm-50 { width: 49.9%; }
        }

        @media (min-width: $screen-md-min) {
            &.col-md-33 { width: 33.3%; }
            &.col-md-50 { width: 49.9%; }
        }

        &:after {
            clear: both;
            content: " ";
            display: block;
        }

        .inner {
            display: inline-block;
            text-align: left;
        }
    }
}


//-------------------------------------------------------------
// Header
//-------------------------------------------------------------

#header {
    padding: 72px 0 54px 0;

    h1 {
        font-size: 4em;
        font-variant: small-caps;
        text-align: center;
        white-space: nowrap;

        margin: 0;
        padding: 0;
    }

    font-size: 0.625em;
    @media (min-width: $screen-xs-min) { font-size: 0.75em; }
    @media (min-width: $screen-sm-min) { font-size: 1em; }
}


//-------------------------------------------------------------
// Content
//-------------------------------------------------------------

#content {

    h2 {
        color: $lowlight-color;
        font-size: 1.25em;
        text-align: center;
        white-space: nowrap;

        margin: 0 0 1em 0;
    }

    ul {
        margin: 0;
        padding: 0 0 45px;

        li {
            display: block;
            list-style: none;

            padding: 0;
            margin: 0 0 0.75em;

            a {
                display: inline-block;
                white-space: nowrap;

                font-size: 1em;

                @include text-shadow(1px 1px 0 $normal-bg);

                @include transition(all 0.2s ease 0s);

                span {
                    padding: 0 0.5em;
                }
            }
        }
    }

    #contact {
        a {
            @include border-radius(20px);

            .logo {
                height: 40px;
                width: 40px;
                @include border-radius(20px);
            }

            .v-spacer {
                display: inline-block;
                vertical-align: middle;
                height: 40px;
                width: 1px;
            }
        }

        #email-link { color: $red-color; }
        #twitter-link { color: $orange-color; }
        #runkeeper-link { color: $yellow-color; }
        #bitbucket-link { color: $green-color; }
        #github-link { color: $blue-color; }
        #resume-link, #resume-pdf-link { color: $violet-color; }

        #resume-link {
            @include border-radius(20px 0 0 20px);
            span {
                padding: 0 0.25em 0 0.5em;
            }
        }

        #resume-pdf-link {
            @include border-radius(0 20px 20px 0);
            span {
                padding: 0 0.5em 0 0.25em;
            }
        }
    }

    #ios {
        a {
            @include border-radius(13px);

            .logo {
                height: 50px;
                width: 50px;
            }
        }
    }

    #python {
        a {
            @include border-radius(20px);

            .logo {
                height: 40px;
                width: 40px;
            }
        }
    }
}


//-------------------------------------------------------------
// Footer
//-------------------------------------------------------------

#footer {
    clear: both;
    text-align: center;

    padding: 9px 0 72px 0;

    #copyright {
        color: $lowlight-color;
        font-size: 12px;
        padding: 2em 0 0;
    }
}


//-------------------------------------------------------------
// Logo
//-------------------------------------------------------------

.robruana-logo {
    position: relative;
    display: inline-block;
    zoom: 1;
    padding: 0.1em 0.4em 0.4em 0.1em;
    overflow: hidden;

    .box1, .box2 {
        display: block;
        padding: 0.25em;
    }

    .box1 {
        border: 1px solid $twitter-blue;
    }

    .box2 {
        border: 1px solid $badass-green;

        position: absolute;
        top: 0.4em;
        left: 0.4em;
    }

    &:hover, &:focus {
        .box1, .box2 {
            border: 1px solid $link-hover-color;
        }
    }
}


//-------------------------------------------------------------
// Retina images
//-------------------------------------------------------------

#email-link .logo { background-image: url(#{$images-path}email-logo.png); }
#twitter-link .logo { background-image: url(#{$images-path}twitter-logo.png); }
#runkeeper-link .logo { background-image: url(#{$images-path}runkeeper-logo.png); }
#bitbucket-link .logo { background-image: url(#{$images-path}bitbucket-logo.png); }
#github-link .logo { background-image: url(#{$images-path}github-logo.png); }
#resume-link .logo { background-image: url(#{$images-path}resume-logo.png); }
#jurbly-link .logo { background-image: url(#{$images-path}jurbly-logo.png); }
#chaosclock-link .logo { background-image: url(#{$images-path}chaosclock-logo.png); }
#parsnip-link .logo { background-image: url(#{$images-path}parsnip-logo.png); }
#debunked-link .logo { background-image: url(#{$images-path}debunked-logo.png); }
#python .logo { background-image: url(#{$images-path}python-logo.png); }

@media
only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (-khtml-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-moz-min-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    #email-link .logo { background-image: url(#{$images-path}email-logo_2x.png); }
    #twitter-link .logo { background-image: url(#{$images-path}twitter-logo_2x.png); }
    #runkeeper-link .logo { background-image: url(#{$images-path}runkeeper-logo_2x.png); }
    #bitbucket-link .logo { background-image: url(#{$images-path}bitbucket-logo_2x.png); }
    #github-link .logo { background-image: url(#{$images-path}github-logo_2x.png); }
    #resume-link .logo { background-image: url(#{$images-path}resume-logo_2x.png); }
    #jurbly-link .logo { background-image: url(#{$images-path}jurbly-logo_2x.png); }
    #chaosclock-link .logo { background-image: url(#{$images-path}chaosclock-logo_2x.png); }
    #parsnip-link .logo { background-image: url(#{$images-path}parsnip-logo_2x.png); }
    #debunked-link .logo { background-image: url(#{$images-path}debunked-logo_2x.png); }
    #python .logo { background-image: url(#{$images-path}python-logo_2x.png); }
}
