html{font-size:20px}
@media all and (min-width:852px){html{font-size:24px}}
@media all and (max-width:852px){html{font-size:24px}}
@media all and (max-width:816px){html{font-size:23px}}
@media all and (max-width:780px){html{font-size:22px}}
@media all and (max-width:744px){html{font-size:21px}}
@media all and (max-width:708px){html{font-size:20px}}
@media all and (max-width:672px){html{font-size:19px}}
@media all and (max-width:636px){html{font-size:18px}}
@media all and (max-width:600px){html{font-size:17px}}
@media all and (max-width:564px){html{font-size:16px}}
@media all and (max-width:528px){html{font-size:15px}}
@media all and (max-width:492px){html{font-size:14px}}
@media all and (max-width:456px){html{font-size:13px}}
@media all and (max-width:420px){html{font-size:12px}}
@media all and (max-width:384px){html{font-size:11px}}
@media all and (max-width:348px){html{font-size:10px}}
@media all and (max-width:312px){html{font-size:9px}}
@media all and (max-width:276px){html{font-size:8px}}
@media all and (max-width:240px){html{font-size:7px}}
